<h1><%= title %></h1>

<% if (notice && notice.length > 0) { %>
<div class="info-message">
  <p><%= notice[0] %></p>
</div>
<% } %>

<ul class="management-links">
  <li><a href="/inv/add-classification">Add New Classification</a></li>
  <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
</ul>

<div class="managent-text">
  <h2>Manage Inventory</h2>
  <p>
    Select a classification from the list to see the items belonging to the
    classification.
  </p>
</div>

<label for="classification_id">Classifications:</label>
<%- classificationList %>
<table id="inventoryDisplay">
  <caption class="sr-only">
    Inventory list by classification
  </caption>
</table>

<noscript>
  <p>JavaScript must be enabled to view and manage inventory items.</p>
</noscript>
<script src="../../js/inventory.js"></script>
